.profile__name {
    margin: 0;
    padding-left: 30px;
    padding-right: 8px;
    padding-bottom: 7px;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    width: 210px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (min-width:637px) and (max-width:931px) {
    .profile__name{
        padding-left: 0;
        padding-right: 16px;
        font-size: 27px;
        line-height: 33px;
        padding-bottom: 10px;
        text-align: start;
    }
}
@media screen and (min-width:931px) and (max-width:100vw) {
    .profile__name{
        padding-left: 0;
        padding-right: 16px;
        width: 293px;
        font-size: 42px;
        line-height: 48px;
        padding-bottom: 10px;
        text-align: start;
    }
}