.popup__title{
    padding-bottom: 75px;
    align-self: flex-start;
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -1px;
}
@media screen and (min-width:637px) and (max-width:100vw) {

    .popup__title{
        padding-bottom: 47px;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: normal;
    }

}