.profile__activity {
    padding-bottom: 34px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    min-width: 100px;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width:637px) and (max-width:100vw) {
    .profile__activity{
        font-size: 18px;
        line-height: 22px;
        max-width: 300px;
        padding-bottom: 0;
        text-align: start;
    }
}
